* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --padding: 3%;
}

.body {
    height: 100vh;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    grid-template-columns: repeat(7 1fr);
    grid-template-rows: 120px 450px auto auto auto auto auto;
}

.mission, .section-about, .section-forum .footer {
    padding: var(--padding);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 6;
    background-color: rgb(51, 51, 61);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
}

.container {
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 2rem;
}

.logo-img {
    width: 120px;
    height: auto;
}

.trademark-symbol {
    font-size: 1.4rem;
}

.nav {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 1.1rem;
}

.nav ul {
    display: inline-flex;
    gap: 60px;
    list-style-type: none;
    margin-top: 15%;
}

.nav ul li:hover {
    border-bottom: 2px solid white;
    padding-bottom: 1%;
}

.fa-bars {
    color: white;
    visibility: hidden;
    font-size: 1.5rem;
    z-index: 1;
}

.main { 
    position: relative;
    grid-column: span 6;
    background-image: url(images/careerspic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(51, 51, 61);
    padding-bottom: 10%;
}

.mission {
    top: -1%;
    position: absolute;
    color: black;
    font-size: 3rem;
    text-align: left;
}

.job-news-btn {
    position: absolute;
    top: 30%;
    left: 3%;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: coral;
    color: black;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.8;
}

.section-about {
    width: 100%;
    height: auto;
    grid-column: span 6;
    background-color: rgb(51, 51, 61);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    /*padding-bottom:  10%;*/
}

.section-about p {
    padding-bottom: 5%;
}

.cards {
    width: 32%;
    height: auto;
    grid-column: 6;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(44, 44, 52);
    border-radius: 24px;
    padding: 2%;
}

.cards h2 {
    color: lightblue;
}

.cards i, h2 {
    padding-bottom: 5%;
}

.about-icons {
    font-size: 2rem;
    color: white;
}

.section-jobs {
    height: auto;
    grid-column: span 6;
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 5%;
    padding-bottom: 10%;
}

.section-jobs-container {
    width: 550px;
    height: 300px;
    padding: 5%;
    border-radius: 3px;
}

.section-jobs input {
    width: 300px;
    padding: 7px;
    border-radius: 3px;
    border: none;
    background-color: white;
}

.section-jobs label {
    color: transparent;
}

.section-jobs input::placeholder {
    color: grey;
    font-weight: bold;
}

.section-jobs p {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 10px;
    font-size: 1.3rem;
    color: rgb(51, 51, 61);
    padding: 2%;
}

.section-jobs div:nth-of-type(1) {
    height: auto;   
}

.advert-icon {
    font-size: 12rem;    
    color: rgb(51, 51, 61);
}

.section-jobs div:nth-of-type(2) {
    width: auto;
    height: auto;
    background-color: aliceblue;
    color: rgb(51, 51, 61);
}

.job-results {
    padding: 5%;
}

.section-application {
    height: auto;
    grid-column: span 6;
    background-color: seashell;
}

.application-container {
    height: 100vh;
}

.section-forum {
    height: auto;
    grid-column: span 6;
    background-color: coral;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    color: black;
    padding-top: 8%;
    padding-bottom: 20%;
}

.forum-container {
    width: 250px;
    height: auto;
}

.forum-container h3 {
    color: black;
    margin-bottom: 5%;
}

.forum-categories {
    list-style-type: none;
}

/*.search-btn {
    width: 100%;
    height: 30px;
    border: none;
    background-color: whitesmoke;
}*/

.sign-in-btn {
    padding: 5% 15%;
    border: 1px solid black;
    border-radius: 24px;
    background-color: transparent;
}

.articles {
    list-style-type: none;
}

.articles li a {
    color: black;
}

.footer {
    height: auto;
    grid-column: span 6;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(51, 51, 61);
    padding-top: 5%;
    padding-bottom: 2%;
}

.footer h4 {
    margin: 0 auto;
    font-size: 0.8rem;
    color: snow;
}

@media screen and (max-width: 900px) {
 .nav ul {
    display: none;
 }
 .fa-bars {
    position: fixed;
    top: 4%;
    right: 5%;
    visibility: visible;
 }
 .main {
    position: relative;
 }

 /*.mission {
    width: auto;
    font-size: 2.5rem;
 };*/

 .section-about {
    display: block;
 }
 .cards {
    width: 100%;
    margin-bottom: 3%;
 }
 .section-jobs {
    padding-top: 10%;
    padding-bottom: 20%;
 }

 .section-forum {
    justify-content: space-between;
    padding-left: 5%;
 }

 .forum-container {
    padding-top: 10%;
 }


@media screen and (max-width: 600px) { 
    .body {
        display: block;
        background-color: rgb(51, 51, 61);
    }
    .header {
    
        padding-top: 6%;
        padding-bottom: 6%; 
    }
    .logo-img {
        width: 4rem;
    }
    .logo-text {
        font-size: 1.5rem;
    }
    .nav ul {
        display: none;
     }
     .fa-bars {
        position: fixed;
        top: 5.5%;
        right: 5%;
        visibility: visible;
     }
    .main {
        height: 100%;
        background-blend-mode: soft-light;
    }
    .mission {
        width: 250px; 
        margin-top: 7%; 
        font-size: 2.5rem;
        color: ghostwhite;
    }

    .goals {
        color: ghostwhite;
    }
    .job-news-btn {
        top: 43%;
        padding: 4%;
    }

    .cards {
        padding-top: 7%;
        margin-right: 2%;
    }

    }

}