* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --padding: 3%;
}

.body {
    height: 100vh;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    grid-template-columns: repeat(6 1fr);
    grid-template-rows: 120px 450px auto auto auto auto;
}

.mission, .section-about, .section-jobs, .section-forum .footer {
    padding: var(--padding);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 6;
    background-color: rgb(51, 51, 61);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
}

.container {
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 2rem;
}

.logo-img {
    width: 7rem;
    height: auto;
}

.nav {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 1.1rem;
}

.nav ul {
    display: inline-flex;
    gap: 60px;
    list-style-type: none;
    margin-top: 15%;
}

.nav ul li:hover {
    border-bottom: 2px solid white;
    padding-bottom: 1%;
}

.fa-bars {
    color: white;
    visibility: hidden;
    font-size: 2rem;
    z-index: 1;
}

.main { 
    position: relative;
    grid-column: span 6;
    background-image: url(images/careerspic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(51, 51, 61);
    padding-bottom: 10%;
}

.mission {
    top: -1%;
    position: absolute;
    color: black;
    font-size: 3rem;
    text-align: left;
}

.job-news-btn {
    position: absolute;
    top: 30%;
    left: 3%;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: coral;
    color: black;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.8;
}

.section-about {
    width: 100%;
    height: auto;
    grid-column: span 6;
    background-color: rgb(51, 51, 61);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.cards {
    width: 350px;
    height: 200px;
    grid-column: 6;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(44, 44, 52);
    border-radius: 24px;
    padding: 2%;
}

.cards h2 {
    color: lightblue;
}

.cards i, h2, p {
    padding-bottom: 5%;
}

.about-icons {
    font-size: 2rem;
    color: white;
}

.section-jobs {
    height: auto;
    grid-column: span 6;
    background-color: ghostwhite;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.jobs-container {
    width: 500px;
    height: 300px;
}

.section-forum {
    height: auto;
    grid-column: span 6;
    background-color: coral;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    height: auto;
    grid-column: span 6;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(51, 51, 61);
}

@media screen and (max-width: 900px) {
 .nav ul {
    display: none;
 }
 .fa-bars {
    position: fixed;
    top: 4%;
    right: 5%;
    visibility: visible;
 }
 .main {
    position: relative;
 }



@media screen and (max-width: 768px) { 
    .body {
        display: block;
        background-color: rgb(51, 51, 61);
    }
    .header {
        padding-top: 6%;
        padding-bottom: 6%; 
    }
    .logo-img {
        width: 4rem;
    }
    .logo-text {
        font-size: 1.5rem;
    }
    .nav ul {
        display: none;
     }
     .fa-bars {
        position: fixed;
        top: 5.5%;
        right: 5%;
        visibility: visible;
     }
    .main {
        height: 100%;
        background-blend-mode: soft-light;
    }
    .mission {
        width: 310px;
        margin-top: 7%; /*5% original*/
        font-size: 3rem;
        color: ghostwhite;
    }
    .job-news-btn {
        top: 43%;
        padding: 4%;
    }

    .section-about {
        display: block;
    }
    .cards {
        padding-top: 7%;
        margin: 2%;
    }

    }
}